#chatbot{
    width: 300px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #fff;
    .chat-popup{
        display: none;
        .cancel{
            position: absolute;
            top:0;
            right:5px;
        }
    }
    border:2px solid #a5a5a5;
}